.col-right {
    -fx-alignment: CENTER-RIGHT;
}

.col-center {
    -fx-alignment: CENTER;
}

.biking-pictures-container {
    -fx-background-color: black;
}

.table-cell .color-picker {
    -fx-pref-width: 115px;
}